In [5]:
# entire code is being run on an Ubuntu kernel. 
# not many QoL libraries are needed.
# your mileage may vary.
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# training specific imports
from sklearn.preprocessing import StandardScaler, LabelEncoder

# AI imports
import torch
import torchvision

# statistics
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
from sklearn.metrics import precision_recall_fscore_support, roc_curve

# test if GPU acceleration is working
torch.cuda.is_available()

True

In [2]:
# load dataset annotations file
annot = pd.read_csv('./disaster-dataset/annotations.csv', delimiter=';')
annot.head()

,id,filename,A1.Q1,A1.Q2,A1.Q3.1,A1.Q3.2,A1.Q3.3,A1.Q3.4,A1.Q3.5,A1.Q3.6,...,A5.Q4.8,A5.Q4.9,A5.Q4.10,A5.Q5.1,A5.Q5.2,A5.Q5.3,A5.Q5.4,A5.Q5.5,A5.Q5.6,A5.Q5.7
0,052464df-5fdb-428a-9a4a-6036ea023b42,052464df-5fdb-428a-9a4a-6036ea023b42.jpg,4,7,0,0,0,0,1,0,...,0,1,0,1,0,0,0,0,0,0
1,2ce9b1bc-ee70-4128-85d1-0fd3ac272619,2ce9b1bc-ee70-4128-85d1-0fd3ac272619.jpg,6,5,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
2,2280b9f3-6989-4222-a0d9-ec4bd35d731b,2280b9f3-6989-4222-a0d9-ec4bd35d731b.jpg,7,9,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
3,257a8e84-7738-49e2-9945-7f082bf7ad34,257a8e84-7738-49e2-9945-7f082bf7ad34.jpg,1,5,0,1,0,0,0,0,...,0,0,1,0,0,0,1,0,0,0
4,3f6b222a-049c-4803-9cbb-5ea734110ed0,3f6b222a-049c-4803-9cbb-5ea734110ed0.jpg,1,9,0,1,1,0,0,0,...,0,1,0,0,0,1,1,0,0,0

In [3]:
annot.isna().sum().sum() == 0

True

### FIND A WAY TO CONDENSE 132 COLUMNS DOWN

In [4]:
questions = np.array(list(set([i[3:] for i in annot.columns[2:]])))

In [5]:
questions

array(['Q3.5', 'Q3.6', 'Q5.4', 'Q5.3', 'Q4.5', 'Q3.3', 'Q5.7', 'Q4.10',
       'Q4.3', 'Q3.1', 'Q4.4', 'Q2', 'Q3.4', 'Q3.7', 'Q1', 'Q4.2', 'Q5.1',
       'Q5.2', 'Q3.2', 'Q4.9', 'Q4.6', 'Q5.5', 'Q5.6', 'Q4.7', 'Q4.1',
       'Q4.8'], dtype='<U5')